body {
    background-color: #554;
    font-family: "Courier New";
    color: #999;
    text-align: center;
}

h1 {
    font-weight: normal;
}

a {
    color: #bbb;
}

#controls {
    width: 500px;
    margin: 10px auto;
    height: 50%;
    display: block;
}

#controls input {
    display: block;
}


#submit-button, #mute-button {
    background-color: #775;
    border: 1px solid #999;
    width: 500px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Courier New";
}

#submit-button:active, #submit-button.playing {
    border-color: #997;
    background-color: #886;
}

#mute-button:active {
    border-color: #b87;
}

#mute-button {
    background-color: #954;
}

#input {
    width: 494px;
    height: 100px;
    margin: 10px 0;
}

#speed {
    width: 50px;
    margin: 10px auto;
}

#keyselector {
    width: 100%;
}

#keyselector input {
    display: inline;
    margin-bottom: 10px;
}

#known-issues {
    text-align: left;
}
